:root{
    --consumption-color: rgb(1, 129, 171);
    --production-color: rgb(149, 81, 158);
    --self-consumption-color: rgb(162, 173, 1);
    --self-consumption-fill-color: rgba(162, 173, 1, 0.5);

    --distance-color: rgb(255,70,60);

    --battery-color: rgb(190,198,177);
    --battery-fill-color: rgba(190,198,177,0.5);

    --self-color: rgb(162, 173, 1);
    --local-color: rgb(255, 192, 1);
    --grisons-color: rgb(155, 2, 84);
    --other-color: rgb(90, 88, 90);

    --chart-bg-color: rgb(240,240,240);
    --well-bg-color: rgb(240,240,240);

    --tooltip-title-color: rgb(200,200,200);

    --btn-active-color: rgba(20,40,20,0.5);
}

.well {
    background-color: var(--well-bg-color) !important;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}

div[comma-value]{
    position:relative;
}
div[comma-value]:before{
    content: attr(comma-value);
    position:absolute;
    left:0;
}
div[comma-value] input{
    color:#fff;
}

.tooltip > .tooltip-inner {
    background-color: var(--self-consumption-color);
    max-width: 300px;
}

.btn.active {
    background-color: var(--btn-active-color);
}

.map_polyline {
    stroke: rgb(255,70,60);
    fill: none;
    opacity: 0.6;
    stroke-dasharray: 20,14,2,14;
    stroke-width: 8;
}

.map_popup {
}
