
*.pyc

P2P_Frontend/\.DS_Store

\.DS_Store

*.csv

\.idea/

*.zip

*.pickle

*.xlsx

LokalPower_Backend/visualization/old_/animate_zoomer/

LokalPower_Backend/visualization/old_/animate_zoom/

LokalPower_Backend/visualization/old_/animate_overview/

LokalPower_Backend/visualization/old_/animate_8fps/

LokalPower_Backend/visualization/old_/animate_16fps/

LokalPower_Backend/visualization/graph/animate_zoomer/

LokalPower_Backend/visualization/graph/animate_zoom/

LokalPower_Backend/animate_2fps/

LokalPower_Backend/animate_4fps/

LokalPower_Backend/animate_overview/

LokalPower_Backend/animate_zoom/

LokalPower_Backend/animate_zoomer/

LokalPower_Backend/img/

LokalPower_Backend/maps/

LokalPower_Backend/visualization/

LokalPower_Backend/geckodriver\.log

P2P_Frontend/sources_map\.html

P2P_Frontend/sinks_map\.html

P2P_Frontend/osmaps\.html

Daten/\.ipynb_checkpoints/

Daten/sthelens\.html