<div class="container" style="width: 100%; height: 65%">
    <h4 id="list_title"></h4>
    <div class="panel-group">

    <!-- EIGENVERBRAUCH -->
        <div class="panel panel-default" style="max-height: 50px">
            <div class="panel-heading"  style="background-color: #ffffff; border: 5px solid var(--self-color); border-radius: 4px; padding-bottom: 5px">
                <h4 id="self_title" class="panel-title">
                </h4>
                <table id="self_header_table">
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion" style="height: 100%">

        <!-- LOKAL -->
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #ffffff; border: 5px solid var(--local-color); border-radius: 4px;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><div id="local_title"></div></a>
                </h4>
                <table id="local_header_table">
                    <tr>
                    </tr>
                </table>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body" style="overflow-y: scroll; height: 320px">
                    <table id="local_table" class="table table-sm">
                        <thead>
                            <tr>
                                <th id="local_s_title"></th>
                                <th>Distanz</th>
                                <th>Anteil</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


        <!-- GRAUBÜNDEN -->
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #ffffff; border: 5px solid var(--grisons-color); border-radius: 4px;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><div id="grisons_title"></div></a>
                </h4>
                <table id="grisons_header_table">
                    <tr>
                    </tr>
                </table>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body" style="overflow-y: scroll; height: 320px">
                    <table id="grisons_table" class="table table-sm">
                        <thead>
                            <tr>
                                <th id="grisons_s_title"></th>
                                <th>Distanz</th>
                                <th>Anteil</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


        <!-- SONSTIGE -->
        <div class="panel panel-default" style="max-height: 80px">
            <div class="panel-heading" style="background-color: #ffffff; border: 5px solid var(--other-color); border-radius: 4px;">
                <h4 id="other_title" class="panel-title"></h4>
                <table id="other_header_table">
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/accordion_list.js"></script>