<!doctype html>
<html lang="en">
<head>
	<title>LokalPower (beta)</title>
    <meta http-Equiv="Cache-Control" Content="no-cache" />
    <meta http-Equiv="Pragma" Content="no-cache" />
    <meta http-Equiv="Expires" Content="0" />
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="../assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--  High-Charts    -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!--  Material Dashboard CSS    -->
    <link href="{{ url_for('static', filename='css/material-dashboard.css' ) }}" rel="stylesheet"/>

	<!-- Color Definitions -->
	<link href="{{ url_for('static', filename='css/color-definitions.css' ) }}" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project
    <link href="../assets/css/demo.css" rel="stylesheet" />
 -->


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
    
   <script src="https://use.fontawesome.com/a0a5a9decc.js"></script>

   {% block header %} {% endblock %}

</head>

<body>



	<div class="wrapper">

		{% block sidebar %}

		<div class="sidebar" data-color="purple">
			<!--
				Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

				Tip 2: you can also add an image using data-image tag
			-->

			<div class="logo">
				<a href="" class="simple-text">
					Lokal Power
				</a>
			</div>

				<div class="sidebar-wrapper">
					<ul class="nav">
						<li class="active">
							<a href="{{ url_for('home') }}">
								<i class="material-icons">dashboard</i>

								<p>Übersicht</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('osmaps', type='sources') }}">
								<i class="material-icons">location_on</i>
								<p>Verbrauch: Karte</p>
							</a>
						</li>
						<li >
							<a href="{{ url_for('details', type='sources') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Verbrauch: Details</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('osmaps', type='sinks') }}">
								<i class="material-icons">location_on</i>
								<p>Produktion: Karte</p>
							</a>
						</li>
						<li >
							<a href="{{ url_for('details', type='sinks') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Produktion: Details</p>
							</a>
						</li>
						
						<li >
							<a href="{{ url_for('battery') }}">
								<i class="fa fa-battery-half" aria-hidden="true"></i>
								<p>PV-Batterie Simulation</p>
							</a>
						</li>

					</ul>
				</div>
			</div>

		{% endblock %}



	    <div class="main-panel">
			{% block navheader %}
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<div class="row">

							{% if user.annual_production > 0 %}
							{% else %}


							<div class="col-lg-2 col-md-6 col-sm-6">
								<div class="card card-stats">
									<div class="card-header" data-background-color="orange">
										<i class="fa fa-bolt" aria-hidden="true"></i>

									</div>
									<div class="card-content">
										<p class="category">Jahresverbrauch</p>
										<h4 class="title">{{ user.annualDemand }}<small> kWh</small></h4>
									</div>
									<div class="card-footer">
										<div class="stats">
											<i class="material-icons text-danger">warning</i> <a href="#pablo">Analysieren</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-6 col-sm-6">
								<div class="card card-stats">
									<div class="card-header" data-background-color="green">
										<i class="fa fa-money" aria-hidden="true"></i>
									</div>
									<div class="card-content">
										<p class="category">Kosten Total</p>
										<h4 class="title">Fr. {{ user.totalCost }}</h4>
									</div>
									<div class="card-footer">
										<div class="stats">
											<i class="material-icons">date_range</i> ..
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-6 col-sm-6">
								<div class="card card-stats">
									<div class="card-header" data-background-color="green">
										<i class="fa fa-money" aria-hidden="true"></i>
									</div>
									<div class="card-content">
										<p class="category">Kilometer pro kWh</p>
										<h4 class="title">{{ user.totalCost }} km/kWh</h4>
									</div>
									<div class="card-footer">
										<div class="stats">
											<i class="material-icons">date_range</i> ..
										</div>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>

				</div>
			</nav>

			<div class="container">

				<div class="well">
                	<div class="row">

						<div class="col-md-3"></div>


						<div class="col-md-6">
							<center>
								<form role="form" method="post" action="{{ url_for('move') }}">
									<input name="origin" value="{{ origin }}" type="hidden">
									<input name="type" value="{{ type }}" type="hidden">
									<button type="action" class="btn btn-default btn-md" name="direction" value="previous" style="height: 50px">
									  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									</button>

								<button type="action" class="btn btn-default btn-md" name="direction" value="up" style="width: 70%; height: 50px; font-size: 130%">
									{{ user.period['name'].decode('utf-8') }}
								</button>

									<button type="action" class="btn btn-default btn-md" name="direction" value="next" style="height: 50px">
									  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									</button>
								</form>
							</center>
						</div>

						<div class="col-md-3" style="align: right">
							<div class="btn-group" role="group" aria-label="Resolution">
								<button type="button" style="height: 50px; font-size: 110%" class="btn btn {% if user.period['resolution'] == 'minimal' %}active{% endif %}" onclick="location.href='{{ url_for('setResolution', resolution='minimal', origin=origin, type=type) }}'">Tag</button>
								<button type="button" style="height: 50px; font-size: 110%" class="btn btn {% if user.period['resolution'] == 'daily' %}active{% endif %}"   onclick="location.href='{{ url_for('setResolution', resolution='daily', origin=origin, type=type) }}'">Monat</button>
								<button type="button" style="height: 50px; font-size: 110%" class="btn btn {% if user.period['resolution'] == 'monthly' %}active{% endif %}" onclick="location.href='{{ url_for('setResolution', resolution='monthly', origin=origin, type=type) }}'">Jahr</button>
							</div>
						</div>

					</div>
                </div>

				<div class="row">
					<div class="col-md-3">
						<div class="card card-stats">
							<div class="card-header" style="background-color: var(--consumption-color);">
								<img src="/static/img/consumption.png" style="height: 50px; width: 50px;">
								<i class="" aria-hidden="true"></i>

							</div>
							<div class="card-content">
								<p class="category">Verbrauch</p>
								<h4 class="title"><span id="sum_consumption"></span><small> kWh</small></h4>
							</div>
						</div>
					</div>


					<div class="col-md-3">
						<div class="card card-stats">
							<div class="card-header" style="background-color: var(--production-color);">
								<img src="/static/img/production.png" style="height: 50px; width: 50px;">
							</div>
							<div class="card-content">
								<p class="category">Produktion</p>
								<h4 class="title"><span id="sum_production"></span><small> kWh</small></h4>
							</div>
						</div>
					</div>


					<div class="col-md-3">
						<div class="card card-stats">
							<div class="card-header" style="background-color: var(--self-consumption-color);">
								<img src="/static/img/self_consumption.png" style="height: 50px; width: 50px;">
							</div>
							<div class="card-content">
								<p class="category">Eigenverbrauch</p>
								<h4 class="title">{{ user.period['kpi_self_consumption'] | round(1) }}<small> %</small></h4>
							</div>
						</div>
					</div>


					<div class="col-md-3">
						<div class="card card-stats">
							<div class="card-header" style="background-color: var(--distance-color);">
								<img src="/static/img/distance.png" style="height: 50px; width: 50px;">
							</div>
							<div class="card-content">
								<p class="category">&#216; Quellendistanz</p>
								<h4 class="title">{{ user.period['kpi_mean_distance'] | round(1) }}<small> km</small></h4>
							</div>
						</div>
					</div>
				</div>
			</div>

			{%endblock%}

			{% block body %}

			<div class="content">
			</div>

			{% endblock %}
		</div>
	</div>


</body>

	<!--   Core JS Files   -->
	<script src="{{ url_for('static', filename='js/material.min.js') }}" type="text/javascript"></script>

	<!--  Charts Plugin
	<script src="../assets/js/chartist.min.js"></script>
	-->

	<!--  Notifications Plugin    -->
	<script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

	<!--  Google Maps Plugin    -->
	<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->

	<!-- Material Dashboard javascript methods -->
	<script src="{{ url_for('static', filename='js/material-dashboard.js') }}"></script>

	<!-- Material Dashboard DEMO methods, don't include it in your project!
	<script src="../assets/js/demo.js"></script>
-->


	<!-- Include Required Prerequisites -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

	<script type="text/javascript">
	$(function() {

		var start = moment().subtract(29, 'days');
		var end = moment();

		function cb(start, end) {
			$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

		}

		$('#reportrange').daterangepicker({
			startDate: start,
			endDate: end,
			autoApply: true,
			"startDate": "01/01/2016",
			"endDate": "12/31/2016",
			"minDate": "01/01/2016",
			"maxDate": "12/31/2016",
			ranges: {
			   'Today': [moment().subtract(1, 'year'), moment().subtract(1, 'year')],
			   'Yesterday': [moment().subtract(1, 'days').subtract(1, 'year'), moment().subtract(1, 'days').subtract(1, 'year')],
			   'Last 7 Days': [moment().subtract(6, 'days').subtract(1, 'year'), moment().subtract(1, 'year')],
			   'Last 30 Days': [moment().subtract(29, 'days').subtract(1, 'year'), moment().subtract(1, 'year')],
			   'This Month': [moment().startOf('month').subtract(1, 'year'), moment().endOf('month').subtract(1, 'year')],
			   'Last Month': [moment().subtract(1, 'month').startOf('month').subtract(1, 'year'), moment().subtract(1, 'month').endOf('month').subtract(1, 'year')],
			   'Last Year': [moment().startOf('year').subtract(1, 'year'), moment().endOf('year').subtract(1, 'year')]
			}
		}, cb);

		cb(start, end);

	});


	function numberWithCommas(x) {
    	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "'");
	}

	$('#sum_consumption').text(numberWithCommas({{ user.period['sum_consumption'] | round | int}}));
	$('#sum_production').text(numberWithCommas({{ user.period['sum_production'] | round | int }}));


	</script>

	<!-- Additional Footer Here -->
	{% block footer %}

	{% endblock %}

</html>
