<!doctype html>
<html lang="en">
<head>
	<title>LokalPower (beta)</title>
    <meta http-Equiv="Cache-Control" Content="no-cache" />
    <meta http-Equiv="Pragma" Content="no-cache" />
    <meta http-Equiv="Expires" Content="0" />
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="../assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!--  High-Charts    -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!--  Material Dashboard CSS    -->
    <link href="{{ url_for('static', filename='css/material-dashboard.css' ) }}" rel="stylesheet"/>

	<!-- Color Definitions -->
	<link href="{{ url_for('static', filename='css/color-definitions.css' ) }}" rel="stylesheet"/>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
	<script src="https://use.fontawesome.com/a0a5a9decc.js"></script>
	{% block header %}
	{% endblock %}
</head>

<body>
	<div class="wrapper">

		{% block sidebar %}
		<div class="sidebar" data-color="white" style="top: 1%; height: 94%;">
			<div class="logo">
				<a href="" class="simple-text">
					<img src="/static/img/logos/lokalpower.png" style="align-self: center; width: 52%">
				</a>
			</div>

			<div class="sidebar-wrapper" style="height: 78%">
				<ul class="nav">

					<li id="link_dashboard">
						<a href="{{ url_for('home') }}">
							<i class="material-icons">dashboard</i>
							<p>Übersicht</p>
						</a>
					</li>

					<li id="link_maps_consumption">
						<a href="{{ url_for('osmaps', type='sources') }}">
							<i class="material-icons">location_on</i>
							<p>Verbrauch: Karte</p>
						</a>
					</li>

					<li id="link_details_consumption">
						<a href="{{ url_for('details', type='sources') }}">
							<i class="fa fa-share-alt" aria-hidden="true"></i>
							<p>Verbrauch: Details</p>
						</a>
					</li>

					<li id="link_maps_production">
						<a href="{{ url_for('osmaps', type='sinks') }}">
							<i class="material-icons">location_on</i>
							<p>Produktion: Karte</p>
						</a>
					</li>

					<li id="link_details_production">
						<a href="{{ url_for('details', type='sinks') }}">
							<i class="fa fa-share-alt" aria-hidden="true"></i>
							<p>Produktion: Details</p>
						</a>
					</li>

					<li id="link_battery_simulator">
						<a href="{{ url_for('battery') }}">
							<i class="fa fa-battery-half" aria-hidden="true"></i>
							<p>PV-Batterie Simulation</p>
						</a>
					</li>

				</ul>
			</div>



			<!-- <div style="position: relative; left: 20px;">
				<a href="https://www.repower.com"><img src="/static/img/logos/repower.png" style="width: 200px"></a>
			</div> -->
			<div style="position: relative; left: 20px; top: 10px;">
				<a href="https://unisg.ch/">
					<img src="/static/img/logos/unisg.png" style="width: 200px">
				</a>
			</div>


		</div>

		{% endblock %}

	  <!-- <div class="main-panel"> -->
			{% block navheader %}
			<!-- <div class="container"> -->

				<!-- <div class="well" style="">
                	<div class="row">

						<div class="col-md-3"></div>


						<div class="col-md-6">
							<center>
								<button id="btn_previous" class="btn btn-default btn-md" name="direction" value="previous" style="height: 50px">
								  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								</button>

								<button class="btn btn-default btn-md" id="period_name" name="direction" value="up" style="width: 70%; height: 50px; font-size: 130%"></button>

								<button id="btn_next" class="btn btn-default btn-md" name="direction" value="next" style="height: 50px">
								  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								</button>
							</center>
						</div>

						<div class="col-md-3" style="align: right">
							<div class="btn-group" role="group" aria-label="Resolution">
								<button id="btn_day" type="button" style="height: 50px; font-size: 110%" class="btn btn">Tag</button>
								<button id="btn_month" type="button" style="height: 50px; font-size: 110%" class="btn btn">Monat</button>
								<button id="btn_year" type="button" style="height: 50px; font-size: 110%" class="btn btn">Jahr</button>
							</div>
						</div>

					</div>
        </div> -->

				<!-- <div class="row" style="height:200px;"> -->

					<!-- <div class="col col-sm-3 col-md-3">
						<div class="card card-stats" style="height:40%; width: 100%;">
							<div class="card-header" style="height:50%; width: 50%; background-color: var(--consumption-color);">
								<img src="/static/img/consumption.png" style="">
								<i class="" aria-hidden="true"></i>

							</div>
							<div class="card-content">
								<p class="category">Verbrauch</p>
								<h4 class="title"><span id="sum_consumption"></span><small> kWh</small></h4>
							</div>
						</div>
					</div> -->


					<!-- <div class="col col-sm-3 col-md-3">
						<div class="card card-stats" style="height:40%; width: 100%;">
							<div class="card-header" style="height:50%; width: 50%; background-color: var(--production-color);">
								<img src="/static/img/production.png" style="height: 50px; width: 50px;">
							</div>
							<div class="card-content">
								<p class="category">Produktion</p>
								<h4 class="title"><span id="sum_production"></span><small> kWh</small></h4>
							</div>
						</div>
					</div> -->


					<!-- <div class="col col-sm-3 col-md-3">
						<div class="card card-stats" style="height:40%; width: 100%;">
							<div class="card-header" style="height:50%; width: 50%; background-color: var(--self-consumption-color);">
								<img src="/static/img/self_consumption.png" style="height: 50px; width: 50px;">
							</div>
							<div class="card-content">
								<p class="category">Eigenverbrauch</p>
								<h4 class="title"><span id="self_consumption"></span><small> %</small></h4>
							</div>
						</div>
					</div> -->

					<!-- <div class="col col-sm-3 col-md-3">
						<nav class="navbar navbar-transparent navbar-absolute">
							<div class="container-fluid">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
							</div>
						</nav>
					</div> -->


					<!-- <div class="col-sm-1 col-md-3">
						<div class="card card-stats">
							<div class="card-header" style="background-color: var(--distance-color);">
								<img src="/static/img/distance.png" style="height: 50px; width: 50px;">
							</div>
							<div class="card-content">
								<p class="category">&#216; Quellendistanz</p>
								<h4 class="title"><span id="mean_distance"></span><small> km</small></h4>
							</div>
						</div>
					</div> -->


				<!-- </div> -->
			<!-- </div> -->

			{%endblock%}

			{% block body %}
			{% endblock %}
		<!-- </div> -->
	</div>
</body>

<!--   Core JS Files   -->
<script src="{{ url_for('static', filename='js/material.min.js') }}" type="text/javascript"></script>

<!--  Notifications Plugin    -->
<script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}"></script>

<!-- Material Dashboard javascript methods -->
<script src="{{ url_for('static', filename='js/material-dashboard.js') }}"></script>

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />



<script src="/static/js/base.js"></script>

<script type="text/javascript">

origin = '{{ origin }}';
type = '{{ type }}';

$( document ).ready(function() {
	console.log( "Document ready. Loading period_json." );
	document.ontouchmove = function(event) {
    event.preventDefault();
	}
	$.getJSON( "/period_json", function( period_json ) {
		update_ui(period_json);
	});
});

</script>

<!-- Additional Footer Here -->

<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 1733310998]);
(function() {
function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
})();
</script>
<!-- End Inspectlet Embed Code -->

{% block footer %}

{% endblock %}

</html>
