
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}



<div class="wrapper">
	{% block sidebar %}

		<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
			<!--
				Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

				Tip 2: you can also add an image using data-image tag
			-->

			<div class="logo">
				<a href="" class="simple-text">
					Lokal Power
				</a>
			</div>

				<div class="sidebar-wrapper">
					<ul class="nav">
						<li>
							<a href="{{ url_for('home') }}">
								<i class="material-icons">dashboard</i>
								<p>Übersicht</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('maps') }}">
								<i class="material-icons">location_on</i>
								<p>Verbrauch: Karte</p>
							</a>
						</li>

						<li >
							<a href="{{ url_for('details') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Verbrauch: Details</p>
							</a>
						</li>

						<li class="active">
							<a href="{{ url_for('batterySim') }}">
								<i class="fa fa-battery-half" aria-hidden="true"></i>
								<p>PV-Batteriesimulator</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

	{% endblock %}


	<div class="main-panel">

			{% block body %}
			
			<div class="content">
				<div class="container-fluid">
					<center><h1>Batteriesimulator</h1></center>
					<br>
				
					
					<div class="row">
						
					  
						  
							<div class="range range-success">
								
								<div class="col-xs-4">
								
								<br> <br> <br> 
								<center><h3>Wählen Sie Ihre Batteriegrösse</h3></center>
								<br> <br>
									<form role="form" method="post" action="{{ url_for('batterySim') }}">
										
										<input type="range" min="0" max="30" value="{{ BatterySize }}" name="BatteryCapacity" id="BatteryCapacity" 
										step="1" onchange="showValue(this.value)" />
								
								<span id="range"><h3>{{ BatterySize }} kWh</h3></span>
								<script type="text/javascript">
								function showValue(newValue)
								{
									document.getElementById("range").innerHTML = "<h3>" + newValue + " kWh</h3>";
								}
								</script>
										<!--
										<input type="range"   min="0" max="30"  
										 onchange="rangeSuccess.value=value"  >
										 -->
								
								<br> <br>
									<center>
										<!--
										<button type="button" name="RunSim" type="submit" class="btn btn-primary">Berechnen</button>
										-->
										<input type="submit" class="btn btn-primary" value="Submit" />
									</center>
									 
								</div>
								
								
								
								<div class="col-xs-1">
								<br> <br> <br> <br> <br> <br><br>
										<!--
										<output name="rangeSuccess" id="rangeSuccess"></output> kWh
										-->
								</div>
								</form>
							</div>
							
					  
					  <div class="col-xs-6">

					<center>
						<div id="container" style="min-width: 78%; height: 400px; display: inline-block"></div>
					</center>

					  </div>
					  
					</div>
					
					<br>
					

					<!--
					G2L {{ user.annual_PV }}
					<br>
					<br>
					PV2L
					{{ user.annual_PV2L }}
					<br>
					<br>
					
					G2L {{ user.annual_G2L }}
					<br>
					
					
					B2L {{ user.annual_B2L }}
					<br>
					
					battery size {{ user.EbatR }}
					<br>
					autarky: {{ user.autarky }}
					<br>
					selfconsumption: {{ user.selfconsumption }}
					
					<br>
					
					<hr>
					-->
					
				</div>



			</div>

			{% endblock %}
	</div>
</div>



{% block footer %}

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
-->

 <script type="text/javascript">
	
      var Grid2Load = {{ user.annual_G2L |safe }};
      var Solar2Load = {{ user.annual_PV2L |safe }};
      var Battery2Load = {{ user.annual_B2L |safe }};


Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Deckungsgrad Ihres Verbrauchs'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Solar (direkt)',
                    y: Solar2Load
                }, {
                    name: 'Batterie',
                    y: Battery2Load,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Netz',
                    y: Grid2Load
                }]
            }]
});







    </script>

	
	{% endblock %}


