{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

<div class="wrapper">
	{% block sidebar %}

		<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">

			<div class="logo">
				<a href="" class="simple-text">
					Lokal Power
				</a>
			</div>

				<div class="sidebar-wrapper">
					<ul class="nav">
						<li>
							<a href="{{ url_for('home') }}">
								<i class="material-icons">dashboard</i>
								<p>Übersicht</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('osmaps', type='sources') }}">
								<i class="material-icons">location_on</i>
								<p>Verbrauch: Karte</p>
							</a>
						</li>
						<li >
							<a href="{{ url_for('details', type='sources') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Verbrauch: Details</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('osmaps', type='sinks') }}">
								<i class="material-icons">location_on</i>
								<p>Produktion: Karte</p>
							</a>
						</li>
						<li >
							<a href="{{ url_for('details', type='sinks') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Produktion: Details</p>
							</a>
						</li>

						<li class="active">
							<a href="{{ url_for('battery') }}">
								<i class="fa fa-battery-half" aria-hidden="true"></i>
								<p>PV-Batteriesimulator</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

	{% endblock %}

	<div class="main-panel">
		<div class="content">
		{% block body %}

			<div class="container-fluid">
				<div class="row embed-responsive embed-responsive-16by9" style="">

					<div class="col-md-8 embed-responsive-item" style="width: 65%">
						<div class="row-fluid" style="height: 61.5%">
							<div class="well" id="overview_chart" style="height: 100%"></div>
						</div>

						<div class="row-fluid" style="height: 30%; padding-top: 2%">
							<div class="well" style="height: 30%;">
								<form role="form" method="post" action="{{ url_for('battery') }}">
									<button name="BatteryCapacity" value="4">Batterie S (4 kWh)</button>
									<button name="BatteryCapacity" value="8">Batterie M (8 kWh): ca. 10'000,- CHF</button>
									<button name="BatteryCapacity" value="12">Batterie L (12 kWh)</button>
									<button name="BatteryCapacity" value="16">Batterie XL (16 kWh)</button>
								</form>
							</div>
						</div>
					</div>

					<div class="col-md-4 embed-responsive-item" style="left: 65%; max-width: 35%; max-height: 75%">
						<div class="row" style="height: 90%;">
							<div class="col-md-12" style="height: 100%">
								<div class="well" style="height: 100%">
									<div id="self_consumption_chart" style="height: 100%"></div>
								</div>
							</div>
						</div>

						<div class="row" style="height: 90%;">
							<div class="col-md-12" style="height: 100%;">
								<div class="well" style="height: 100%;">
									<div id="autarky_chart" style="height: 100%"></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		{% endblock %}
	</div>
</div>




{% block footer %}

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
-->

<script type="text/javascript">

var grid_to_load = {{ user.battery_simulation['annual_G2L'] |safe }};
var solar_to_load = {{ user.battery_simulation['annual_PV2L'] |safe }};
var battery_to_load = {{ user.battery_simulation['annual_B2L'] |safe }};

var monthly_pv2l = {{ user.battery_simulation['monthly_pv2l'] |safe }};
var monthly_pv = {{ user.battery_simulation['monthly_pv'] |safe }};
var monthly_b2l = {{ user.battery_simulation['monthly_b2l'] |safe }};
var monthly_demand = {{ user.demand_by_month |safe }};


Highcharts.chart('overview_chart', {
	chart: {
		backgroundColor: 'var(--chart-bg-color)'
	},

	title: {
		text: 'Verbrauch'
	},

	subtitle: {
		text: ''
	},

	yAxis: {
		title: {
			text: 'kWh'
		}
	},

	xAxis: {
		crosshair: true
	},

	tooltip: {
		headerFormat: '<span style="font-size:14px">{{ user.period['resolution'] | replace("daily", "Tag") | replace("monthly", "Monat") | replace("minimal", "Uhrzeit") }}: {point.key}</span><br><table>',
		pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			'<td style="padding:5"><b>{point.y:.1f}</b></td><td style="padding-left:3px">kWh</td></tr>',
		footerFormat: '</table>',
		shared: true,
		useHTML: true
	},

	series: [

	{
		type: 'spline',
		stacking: false,
		name: 'Produktion',
		colorByPoint: false,
		color: 'var(--production-color)',
		data: monthly_pv,
		showInLegend: true,
		legendIndex: 1
	},

	{
		type: 'spline',
		stacking: false,
		name: 'Verbrauch',
		colorByPoint: false,
		color: 'var(--consumption-color)',
		data: monthly_demand,
		showInLegend: true,
		legendIndex: 0
	},

	{
		type: 'areaspline',
		stacking: true,
		name: 'Batterie',
		colorByPoint: false,
		color: 'var(--battery-color)',
		fillColor: 'var(--battery-fill-color)',
		data: monthly_b2l,
		showInLegend: true,
		legendIndex: 3
	},

	{
		type: 'areaspline',
		fillOpacity: 0.5,
		stacking: true,
		name: 'Eigenverbrauch',
		colorByPoint: false,
		color: 'var(--self-consumption-color)',
		fillColor: 'var(--self-consumption-fill-color)',
		data: monthly_pv2l,
		showInLegend: true,
		legendIndex: 2
	}

	]
});




var annual_demand = {{ user.annual_demand |safe }};
var annual_production = {{ user.annual_production |safe }};

var autarky = (solar_to_load) / annual_demand * 100;
var autarky_bat = (solar_to_load + battery_to_load) / annual_demand * 100;
var autarky_rest = 100 - autarky;
var autarky_bat_rest = 100 - autarky_bat;

var self_consumption = (solar_to_load) / annual_production * 100;
var self_consumption_bat = (solar_to_load + battery_to_load) / annual_production * 100;
var self_consumption_rest = 100 - self_consumption;
var self_consumption_bat_rest = 100 - self_consumption_bat;

var text_self_consumption = 'Es handelt sich um den Anteil Ihres Verbrauchs, den Sie gerade dann verbrauchen, wenn Ihre Photovoltaik-Anlage produziert.<br>Der Grad des Eigenverbrauchs kann erhöht werden, wenn Verbraucher (z.B. Warmwasser-Boiler) dann eingeschalten werden, wenn die Sonne scheint.</div>';
var text_autarky = 'Es handelt sich um den Anteil Ihres Jahresverbrauchs, den Sie mit dem Eigenverbrauch abdecken können.<br>Der Selbstversorgungsgrad kann entweder erhöht werden, wenn die Photovoltaik-Anlage vergrössert wird oder wenn der Eigenverbrauchsgrad erhöht wird (siehe Eigenverbrauch).<br>Ein Selbstversorgungsgrad von 100 % ist ökonomisch praktisch nicht zu erreichen, da die Photovoltaik-Anlage in den Wintermonaten viel weniger produziert als im Sommer.';

$('document').ready(function () {
	tooltip_title = '<b><h4>' + 'Selbstversorgung' + '</h4></b><div style="text-align: justify;">' + text_autarky + '</div>';
	$("#autarky_title").tooltip({placement: 'top', title: tooltip_title, html:true, container: 'body'});

	tooltip_title = '<b><h4>' + 'Eigenverbrauch' + '</h4></b><div style="text-align: justify;">' + text_self_consumption + '</div>';
	$("#self_consumption_title").tooltip({placement: 'top', title: tooltip_title, html:true, container: 'body'});
});

var autarky_chart = Highcharts.chart('autarky_chart', {
chart: {
	backgroundColor: 'var(--chart-bg-color)',
},

title: {
	useHTML: true,
	text: '<span id="autarky_title">Selbstversorgung</span>'
},

subtitle: {
	text: ''
},

yAxis: {
	min: 0,
	max: 100,
	title: {
		text: '%',
	}
},

xAxis: {
	categories: ['Keine Batterie', 'Mit Batterie'],
	crosshair: true
},

plotOptions: {
	column: {
		dataLabels: {
			enabled: true,
			formatter: function() {
				return this.point.y.toFixed(1) + ' %';
			}
		},
		enableMouseTracking: true
	}
},

tooltip: {
	formatter: function() {
		return '<b><span style="font-size: 130%">' + this.series.name + '</b></span><br>Anteil: ' + this.y.toFixed(1) + ' %';
	},
},

legend: {
		enabled: false,
},

series: [

		{
			type: 'column',
			stacking: true,
			name: 'Selbstversorgung',
			data: [autarky, autarky_bat],
			color: 'var(--self-color)',
			index: 1,
			colorByPoint: false
		},

		/*{
			type: 'column',
			stacking: true,
			name: 'Bezug Netz',
			data: [autarky_rest, autarky_bat_rest],
			color: 'var(--other-color)',
			index: 0,
			colorByPoint: false
		},*/
]


});

Highcharts.chart('self_consumption_chart', {
	chart: {
		backgroundColor: 'var(--chart-bg-color)',
	},

	title: {
		useHTML: true,
		text: '<span id="self_consumption_title">Eigenverbrauch</span>'
	},

	subtitle: {
		text: ''
	},

	yAxis: {
		min: 0,
		max: 100,
		title: {
			text: '%',
		}
	},

    plotOptions: {
        column: {
            dataLabels: {
                enabled: true,
                formatter: function() {
                    return this.point.y.toFixed(1) + ' %';
                }
            },
            enableMouseTracking: true
        }
    },

	xAxis: {
		categories: ['Keine Batterie', 'Mit Batterie'],
		crosshair: true
	},

	tooltip: {
		formatter: function() {
			return '<b><span style="font-size: 130%">' + this.series.name + '</b></span><br>Anteil: ' + this.y.toFixed(1) + ' %';
		},
	},

	legend: {
			enabled: false,
	},

	series: [

			{
				type: 'column',
				stacking: true,
				name: 'Eigenverbrauch',
				data: [self_consumption, self_consumption_bat],
				color: 'var(--self-color)',
				index: 1,
				colorByPoint: false
			},

			/*{
				type: 'column',
				stacking: true,
				name: 'Einspeisung Netz',
				data: [self_consumption_rest, self_consumption_bat_rest],
				color: 'var(--other-color)',
				index: 0,
				colorByPoint: false
			},*/
	]
});


</script>
{% endblock %}


