{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

<div class="wrapper">
	<div class="main-panel" style="">
		<div class="content">
		{% block body %}

			<div class="container-fluid">
				<div class="row embed-responsive embed-responsive-16by9" style="">

					<div class="col-md-8 embed-responsive-item" style="width: 65%;">
						<div class="well" id="overview_chart" style="height: 75%"></div>
					</div>

					<div class="col-md-4 embed-responsive-item" style="left: 65%; max-width: 35%; max-height: 75%">
						<div class="row" style="height: 100%;">
							<div class="col-md-12" style="height: 100%">
								<div class="well" style="height: 100%">
									<div id="pie_chart_connections" style="height: 100%"></div>
								</div>
							</div>
						</div>

						<div class="row" style="height: 100%;">
							<div class="col-md-12" style="height: 100%; top: 8%">
								<div class="well" style="height: 100%;">
									<div id="pie_chart_deliveries" style="height: 100%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
		</div>
	</div>

{% block footer %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='charts/overview_chart.js') }}"></script>-->

<script src="/static/js/pie_charts.js"></script>
<script src="/static/js/overview_chart.js"></script>


<script type="text/javascript">

origin = '{{ origin }}';

</script>
{% endblock %}