
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

<div class="wrapper">
	{% block sidebar %}

		<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
			<!--
				Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

				Tip 2: you can also add an image using data-image tag
			-->

			<div class="logo">
				<a href="" class="simple-text">
					Lokal Power
				</a>
			</div>

				<div class="sidebar-wrapper">
					<ul class="nav">
						<li>
							<a href="{{ url_for('home') }}">
								<i class="material-icons">dashboard</i>
								<p>Übersicht</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('osmaps', type='sources') }}">
								<i class="material-icons">location_on</i>
								<p>Verbrauch: Karte</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('osmaps', type='sinks') }}">
								<i class="material-icons">location_off</i>
								<p>Produktion: Karte</p>
							</a>
						</li>

						<li
						{% if type == 'sources' %}
						 class="active"
						{% endif %}>
							<a href="{{ url_for('details', type='sources') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Verbrauch: Details</p>
							</a>
						</li>
						<li
						{% if type == 'sinks' %}
						 class="active"
						{% endif %}>
							<a href="{{ url_for('details', type='sinks') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Produktion: Details</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('batterySim') }}">
								<i class="fa fa-battery-half" aria-hidden="true"></i>
								<p>PV-Batteriesimulator</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

	{% endblock %}

	<div class="main-panel">
		{% block body %}

            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8">
                        <div class="well">
                            <!--<div id="sndmap" class="map" style="height: 450px; width: 720px;"></div>-->
                            <div class="embed-responsive embed-responsive-16by9">
                                {% if type == 'sinks' %}
								<div id="bar_chart" style=""></div>
                                {% else %}
								<div id="bar_chart" style=""></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="height: 100%px">
                        <div class="well">
                            {% if type == 'sinks' %}
                            {% include 'sinks_accordion_list.html' %}
                            {% else %}
                            {% include 'sources_accordion_list.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
			{% endblock %}
	</div>
</div>


	{% block footer %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script>

	Highcharts.chart('bar_chart', {
	chart: {
		backgroundColor: 'var(--chart-bg-color)',
	},

    title: {
		{% if type == 'sinks' %}
			text: 'Verbrauch (Senken)',
		{% else %}
			text: 'Verbrauch (Quellen)',
		{% endif %}
    },

    subtitle: {
        text: ''
    },

	{% if user.resolution == 'monthly' %}
    plotOptions: {
    	series: {
    		cursor: 'pointer',
    		point: {
    			events: {
    				click: function() {
    					//alert('Month: ' + this.category);
    					location.href='/getMonthlyGraph/' + this.category;
    				}
    			}
    		}
    	}
    },
    {% endif %}


    yAxis: {
        title: {
            text: 'kWh'
        }
    },

    xAxis: {
    	categories: {{ user.period['categories'] | safe }},
        crosshair: true
    },

    tooltip: {
        headerFormat: '<span style="font-size:14px">Monat: {point.key}</span><br><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.2f} kWh</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },

    series: [

	{% if type == 'sinks' %}
		{% for category, category_dict in user.period['categorized_deliveries'].iteritems() %}
			{
				type: 'column',
				stacking: true,
				name: '{{ category | replace("self","Eigenverbrauch") | replace("local","Lokal") | replace("grisons","Graubünden") | replace("other","Sonstige") }}',
				data: {{ category_dict['time_series'] }},
				color: '{{ category | replace("self","var(--self-color)") | replace("local","var(--local-color)") | replace("grisons","var(--grisons-color)") | replace("other","var(--other-color)") }}',
				legendIndex: {{ category | replace("self","0") | replace("local","1") | replace("grisons","2") | replace("other","3") }},
				showInLegend: true,
				colorByPoint: false
			},
		{% endfor %}

	{% else %}
		{% for category, category_dict in user.period['categorized_connections'].iteritems() %}
			{
				type: 'column',
				stacking: true,
				name: '{{ category | replace("self","Selbstversorgung") | replace("local","Lokal") | replace("grisons","Graubünden") | replace("other","Sonstige") }}',
				data: {{ category_dict['time_series'] }},
				color: '{{ category | replace("self","var(--self-color)") | replace("local","var(--local-color)") | replace("grisons","var(--grisons-color)") | replace("other","var(--other-color)") }}',
				legendIndex: {{ category | replace("self","0") | replace("local","1") | replace("grisons","2") | replace("other","3") }},
				showInLegend: true,
				colorByPoint: false
			},
		{% endfor %}

	{% endif %}
    ]


	});




	</script>
	{% endblock %}
