
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

<div class="wrapper">
	{% block sidebar %}

		<div class="sidebar" data-color="purple">
			<!--
				Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

				Tip 2: you can also add an image using data-image tag
			-->

			<div class="logo">
				<a href="" class="simple-text">
					Lokal Power
				</a>
				<br>
				<div class="simple-text" style="align-self: center;">
					<img src="/static/img/logos/repower.png" style="align-self: center; width: 170px"></img>
				</div>
				<div class="simple-text" style="align-self: center;">
					<img src="/static/img/logos/unisg.jpg" style="align-self: center; width: 210px"></img>
				</div>
			</div>

				<div class="sidebar-wrapper">
					<ul class="nav">
						<li>
							<a href="{{ url_for('home') }}">
								<i class="material-icons">dashboard</i>
								<p>Übersicht</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('osmaps', type='sources') }}">
								<i class="material-icons">location_on</i>
								<p>Verbrauch: Karte</p>
							</a>
						</li>
						<li
						{% if type == 'sources' %}
						 class="active"
						{% endif %}>
							<a href="{{ url_for('details', type='sources') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Verbrauch: Details</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('osmaps', type='sinks') }}">
								<i class="material-icons">location_on</i>
								<p>Produktion: Karte</p>
							</a>
						</li>
						<li
						{% if type == 'sinks' %}
						 class="active"
						{% endif %}>
							<a href="{{ url_for('details', type='sinks') }}">
								<i class="fa fa-share-alt" aria-hidden="true"></i>
								<p>Produktion: Details</p>
							</a>
						</li>

						<li>
							<a href="{{ url_for('battery') }}">
								<i class="fa fa-battery-half" aria-hidden="true"></i>
								<p>PV-Batterie Simulation</p>
							</a>
						</li>
					</ul>
				</div>
			</div>

	{% endblock %}

	<div class="main-panel">
		{% block body %}
		<div class="container-fluid">
			<div class="row embed-responsive embed-responsive-16by9" style="">
				<div class="col-md-8 embed-responsive-item" style="width: 65%;">
					<div class="well" id="details_chart" style="height: 75%"></div>
				</div>

				<div class="col-md-4 embed-responsive-item" style="left: 65%; max-width: 35%; height: 77.5%">
					<div class="well" style="height: 100%">
						{% if type == 'sinks' %}
						{% include 'sinks_accordion_list.html' %}
						{% else %}
						{% include 'sources_accordion_list.html' %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	</div>
</div>


{% block footer %}
<script src="/static/js/details_chart.js"></script>

<script>
type = '{{ type }}';
origin = '{{ origin }}';

$( document ).ready(function() {
    console.log( "Document ready. Loading period_json." );

    $.getJSON( "/period_json", function( data ) {
    	period = data;
        init_details_chart();
        reload_details_chart();

    });
});
</script>
{% endblock %}
