
{% extends "base.html" %}
<!-- {% block title %}Dashboard{% endblock %} -->
{% block header %}



{% endblock %}

<div class="wrapper">

    {% block sidebar %}

    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
        -->

        <div class="logo">
            <a href="" class="simple-text">
                Lokal Power
            </a>
        </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="{{ url_for('home') }}">
                            <i class="material-icons">dashboard</i>
                            <p>Übersicht</p>
                        </a>
                    </li>

                    <li class="active">
                        <a href="{{ url_for('osmaps') }}">
                            <i class="material-icons">location_on</i>
                            <p>Verbrauch: Karte</p>
                        </a>
                    </li>

                    <li >
                        <a href="{{ url_for('details') }}">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <p>Verbrauch: Details</p>
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('batterySim') }}">
                            <i class="fa fa-battery-half" aria-hidden="true"></i>
                            <p>PV-Batteriesimulator</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    {% endblock %}



    <div class="main-panel">

        <div class="content">
            {% block body %}

            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8">
                        <div class="well">
                            <!--<div id="sndmap" class="map" style="height: 450px; width: 720px;"></div>-->
                            <iframe src="{{ url_for('os_maps') }}" style="height: 450px; width: 720px;"></iframe>


                        </div>
                    </div>

                    <div class="col-md-4" style="max-height: 450px">
                        <div class="well">
                            <div class="container" style="width: 100%;">
                              <h4>Meine Stromquellen</h4>

                                <div class="panel panel-default">
                                  <div class="panel-heading"  style="background-color: #4FA953">
                                    <h4 class="panel-title">
                                      Eigenverbrauch
                                    </h4>
                                    {{ (user.period['kpiProduction'] * user.period['kpiSelfConsumption'] / 100)|round(2) }} kWh / {{ user.period['kpiSelfConsumption'] }} %
                                  </div>
                                </div>

                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                      <div class="panel-heading" style="background-color: #C071D3">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><div>Lokal</div></a>
                                        </h4>
                                      </div>
                                      <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body" style="overflow-y: scroll; max-height: 150px">
                                            <table class="table">

                                                <tr>
                                                    <th>Quelle</th>
                                                    <th>Distanz</th>
                                                    <th>Anteil</th>
                                                </tr>
                                                {% for k in kWh_SharesBySource %}

                                                {% if (dFromUserordered[loop.index0]) < 10 and (producerNames[loop.index0] != user.index)%}
                                                <tr>
                                                  {% if producerNames[loop.index0] != user.index %}
                                                    <td>{{ descriptions[producerNames[loop.index0]]['name'] }}</td>
                                                  {% else %}
                                                    <td><b>Eigenverbrauch</b></td>
                                                  {% endif %}
                                                    <td> {{ dFromUserordered[loop.index0]|round(2) }} km</td>
                                                    <td> {{k * 100}} %</td>
                                                </tr>
                                                {% endif %}

                                                {% endfor %}
                                            </table>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="panel panel-default">
                                      <div class="panel-heading" style="background-color: #0DB5CA">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Graubünden</a>
                                        </h4>
                                      </div>
                                      <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body" style="overflow-y: scroll; max-height: 150px">
                                            <table class="table">

                                                <tr>
                                                    <th>Quelle</th>
                                                    <th>Distanz</th>
                                                    <th>Anteil</th>
                                                </tr>
                                                {% for k in kWh_SharesBySource %}

                                                {% if (dFromUserordered[loop.index0] > 10) and (dFromUserordered[loop.index0] < 50) %}
                                                <tr>
                                                    <td>{{ descriptions[producerNames[loop.index0]]['name'] }}</td>
                                                    <td> {{ dFromUserordered[loop.index0] }} km</td>
                                                    <td> {{k * 100}} %</td>
                                                </tr>
                                                {% endif %}

                                                {% endfor %}
                                            </table>
                                        </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                  <div class="panel-heading" style="background-color: #999999">
                                    <h4 class="panel-title">
                                      Sonstige
                                    </h4>
                                  </div>
                                  <div id="collapse4" class="panel-collapse collapse in">
                                    <div class="panel-body" style="overflow-y: scroll; max-height: 150px">
                                        <table class="table">

                                            <tr>
                                                <th>Quelle</th>
                                                <th>Distanz</th>
                                                <th>Anteil</th>
                                            </tr>
                                            {% for k in kWh_SharesBySource %}

                                            {% if (dFromUserordered[loop.index0] > 50) %}
                                            <tr>
                                                <td>{{ descriptions[producerNames[loop.index0]]['name'] }}</td>
                                                <td> {{ dFromUserordered[loop.index0] }} km</td>
                                                <td> {{k * 100}} %</td>
                                            </tr>
                                            {% endif %}

                                            {% endfor %}
                                        </table>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                {% endblock %}

            </div>
        </div>

    </div>
</div>


{% block footer %}
<script>
// reload the iframe each time
document.getElementsByTagName('iframe')[0].src=document.getElementsByTagName('iframe')[0].src

Highcharts.chart('pie_chart', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Anteile der LokalPower Supplier:'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false,
                name: 'Anteile',
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Shares by Source',
        colorByPoint: true,
        data: [
                {% for k in kWh_SharesBySource %}
                {
                    name: '{{ descriptions[producerNames[loop.index0]]['name'] }}',
                    y: {{k}}
                },
                {% endfor %}
        ]
    }]
});
</script>
{% endblock %}
