<div class="container" style="width: 100%;">
    <h4>Produktion ({{ user.period['sum_production'] | round(1) }} kWh)</h4>
    <div class="panel-group">

    <!-- EIGENVERBRAUCH -->
        <div class="panel panel-default" style="max-height: 50px">
            <div class="panel-heading"  style="background-color: #ffffff; border: 5px solid var(--self-color); border-radius: 4px;">
                <h4 class="panel-title">
                    Eigenverbrauch
                </h4>
                <table>
                    <tr>
                        <td style="padding-right:5px;">
                            {{ user.period['sum_self_consumption'] | round(1) }} kWh
                        </td>
                        <td>
                            ({{ user.period['kpi_self_consumption'] | round(1)  }} %)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="panel-group" id="accordion">


        <!-- LOKAL -->
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #ffffff; border: 5px solid var(--local-color); border-radius: 4px;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><div>Einspeisung Lokal (<10km)</div></a>
                </h4>
                <table>
                    <tr>
                        <td style="padding-right:5px;">
                            {{ user.period['categorized_deliveries']['local']['sum'] | round(1)  }} kWh
                        </td>
                        <td>
                            ({{ (user.period['categorized_deliveries']['local']['sum'] / user.period['sum_production'] * 100) | round(1)  }} %)
                        </td>
                    </tr>
                </table>
            </div>
            {% if user.period['categorized_deliveries']['local']['sum'] > 0 %}
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body" style="overflow-y: scroll; max-height: 140px">
                    <table class="table table-sm">

                    <tr>
                        <th>Bezüger</th>
                        <th>Distanz</th>
                        <th>Anteil</th>
                    </tr>
                    {% for entry in user.period['categorized_deliveries']['local']['list'] %}
                    <tr>
                        <td>{{ descriptions[entry['s_id']]['NAME'] }}</td>
                        <td>{{ entry['distance'] }} km</td>
                        {% if (entry['energy'] / user.period['sum_production']) < 0.01 %}
                        <td> < 1 %</td>
                        {% else %}
                        <td> {{ ((entry['energy'] / user.period['sum_production']) * 100) | round(1) }} %</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>


        <!-- GRAUBÜNDEN -->
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #ffffff; border: 5px solid var(--grisons-color); border-radius: 4px;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Einspeisung Graubünden</a>
                </h4>
                <table>
                    <tr>
                        <td style="padding-right:5px;">
                            {{ user.period['categorized_deliveries']['grisons']['sum'] | round(1)  }} kWh
                        </td>
                        <td>
                            ({{ (user.period['categorized_deliveries']['grisons']['sum'] / user.period['sum_production'] * 100)|round(1)  }} %)
                        </td>
                    </tr>
                </table>
            </div>
            {% if user.period['categorized_deliveries']['grisons']['sum'] > 0 %}

            {% if user.period['categorized_deliveries']['local']['sum'] == 0 %}
            <div id="collapse2" class="panel-collapse collapse in">
            {% else %}
            <div id="collapse2" class="panel-collapse collapse">
            {% endif %}
                <div class="panel-body" style="overflow-y: scroll; max-height: 140px">
                    <table class="table table-sm">
                        <tr>
                            <th>Bezüger</th>
                            <th>Distanz</th>
                            <th>Anteil</th>
                        </tr>
                        {% for entry in user.period['categorized_deliveries']['grisons']['list'] %}
                        <tr>
                            <td>{{ descriptions[entry['s_id']]['NAME'] }}</td>
                            <td>{{ entry['distance'] }} km</td>
                            {% if (entry['energy'] / user.period['sum_production']) < 0.01 %}
                            <td> < 1 %</td>
                            {% else %}
                            <td> {{ ((entry['energy'] / user.period['sum_production']) * 100) | round(1) }} %</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>


        <!-- SONSTIGE -->
        <div class="panel panel-default" style="max-height: 80px">
            <div class="panel-heading" style="background-color: #ffffff; border: 5px solid var(--other-color); border-radius: 4px;">
                <h4 class="panel-title">
                    Einspeisung Schweiz
                </h4>
                <table>
                    <tr>
                        <td style="padding-right:5px;">
                            {{ user.period['categorized_deliveries']['other']['sum'] | round(1)  }} kWh
                        </td>
                        <td>
                            ({{ (user.period['categorized_deliveries']['other']['sum'] / user.period['sum_production'] * 100)|round(1)  }} %)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>